body{
	background-image:url(/MyLibrary/resources/imag/userBJ.jpg);
	
}
.search{
	background-color:#fffeb8;
	text-align:center;
	font-size:120%;
	padding: 0;
    box-shadow: 0 6px 13px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
	margin:5px 50px;
	
}
.adduser{
	background-color:#fffeb8;
	text-align:center;
	font-size:120%;
	padding: 0;
    box-shadow: 0 6px 13px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
	margin:5px 50px;
}
.userList{
	text-align:center;
	font-size:120%;
}
.titletype{
	text-align:center;
}
.input{
	font-size:120%;
}
.list{
	
    text-align:center;
    padding: 0;
    box-shadow: 0 6px 13px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    margin: auto;
	margin:1px 50px;
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
    width:100%;
    
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 10px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}
