.body{
	background:rgb(170, 223, 56);
}
.infor{
	 background-color: wheat;
    position: absolute;
    left: 50%;
    top: 55%;
    width: 430px;
    height: 550px;
    margin: -300px 0 0 -215px;
    border: 1px solid #fff;
    border-radius: 20px;
    overflow: hidden;
	
}
.title{
	front-size:120%;
}
.back{
	front-size:90%;
	margin-left:10px;
	margin-top:10px;
}